<section class="containerAll">

    <div class="containerItems">

    
        <div class="containerButton1">
            
<label (click)="checkButton()" class="labelStyle  inline-flex items-center cursor-pointer">
    <input type="checkbox" id="check" value="" class="toggleStyle sr-only peer">
    <div id="toggle" class="toggleStyle relative w-11 h-6 bg-gray-200 peer-focus:outline-none   rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>

  </label>
  
            <button type="button" (click)="git()" id="button" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">GitHub</button>
        </div>
    
        <div>
            <button type="button" (click)="linkedin()" id="button2" class="buttonStyle text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Linkedin</button>
        </div>
    

</div>

</section>
